/* For use in src/lib/core/theming/_palette.scss */
$md-eekotech1: (
  50 : #e1f5fe,
  100 : #b3e5fc,
  200 : #81d4fa,
  300 : #4fc3f7,
  400 : #29b6f6,
  500 : #03a9f4,
  600 : #03a2f3,
  700 : #0298f1,
  800 : #028fef,
  900 : #017eec,
  A100 : #ffffff,
  A200 : #e0efff,
  A400 : #add4ff,
  A700 : #93c7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$md-eekotech2: (
  50 : #f9eee2,
  100 : #efd4b6,
  200 : #e5b786,
  300 : #da9a56,
  400 : #d28431,
  500 : #ca6e0d,
  600 : #c5660b,
  700 : #bd5b09,
  800 : #b75107,
  900 : #ab3f03,
  A100 : #ffe1d4,
  A200 : #ffbda1,
  A400 : #ff996e,
  A700 : #ff8755,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-eekotech3: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eekotech-primary: mat-palette($md-eekotech1, 500, 700, 900);
// $eekotech-primary: mat-palette($mat-light-blue);
$eekotech-accent: mat-palette($md-eekotech3, 200, 100, 400);

// The warn palette is optional (defaults to red).
$eekotech-warn: mat-palette($md-eekotech2, 400, 300, 500);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$eekotech-theme: mat-light-theme((
  color: (
    primary: $eekotech-primary,
    accent: $eekotech-accent,
    warn: $eekotech-warn,
  )
));

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eekotech-theme);
